.course {
	text-align: center;
	padding: 32px;
	background-color: #fae9f5;
}

.course h3 {
	font-size: 32px;
	font-family: Prata, serif;
	border-bottom: 4px solid #db6ebf;
	padding-bottom: 8px;
	display: inline-block;
}
