.teacher {
	width: 280px;
}

.teacher .header {
	background-color: #f0f0f0;
	border-radius: 10px 10px 0px 0px;
}

.teacher img {
	width: 100px;
	border-radius: 50%;
	position: relative;
	bottom: -50px;
}

.teacher .footerTeacher {
	background: #ffffff;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
	border-radius: 0px 0px 10px 10px;
	padding-top: 90px;
	padding-bottom: 40px;
}

.teacher .footerTeacher h4 {
	color: #ed145b;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	margin-bottom: 8px;
	font-family: Montserrat;
}

.teacher .footerTeacher h5 {
	color: #212121;
	padding: 0 16px;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
